<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="${basedir}/logs/nlog-internal.log">

  <targets async="true">
    <target name="coloredConsole"
            xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="false"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}"
            xdt:Transform="Insert">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>
    </target>
    <target name="file" xsi:type="File"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" 
            fileName="${logPath}$date:format=dd-MM-yyyy.log" 
            keepFileOpen="false" 
            encoding="iso-8859-1"
            xdt:Transform="Insert">
    </target>
  </targets>

  <rules>
    <logger name="*" minLevel="Info" writeTo="coloredConsole" xdt:Transform="Insert"/>
    <logger name="*" minLevel="Info" writeTo="file" xdt:Transform="Insert"/>
  </rules>
</nlog>